src/main/mule/batch-api-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="batch-api-implementation-main"
		doc:id="2e7c51a3-fc4b-47c1-a27c-d1a95f3ff181">
		<flow-ref doc:name="check-batch-status"
			doc:id="a6c3bfae-0f8f-430c-a2a6-ef45c8432d00"
			name="check-batch-status" />
		<validation:is-false
			doc:id="863067cc-c81c-4875-815d-99de2e1c9f6f"
			doc:name="Is Batch Running?"
			expression="#[(payload.status == Mule::p('batch.status.running'))]"
			message="An existing job is running. Please try again later" />
		<flow-ref doc:name="batch-api-load-data" doc:id="6233a642-a9dc-419f-9777-89be207fdfb0" name="batch-api-load-data" />
		<ee:transform doc:name="Response"
			doc:id="2a750db6-740d-49b8-976c-bacc5080b7ac">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Batch Execution started "
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="batch-api-load-data" doc:id="d6000e51-9289-4848-a704-af68d30d70c0" >
		<set-variable value="#[dw::util::Timer::currentMilliseconds()]" doc:name="Set Start Time in Millis" doc:id="f67c51e1-aff2-4bca-940d-2d37fe515b10" variableName="startTime"/>
		<logger level="INFO" doc:name="Log Start Time" doc:id="9a1fca5c-9a82-4716-95e8-b2c3452834cb" message="Initializing batch #[now() as String]" category="${api.logger.package}" />
		<http:request method="GET" doc:name="Load CSV Data" doc:id="9d61c371-76fe-4eec-aef4-77a6f3487437" url="${batch.data}" outputMimeType="application/csv"/>
		<os:store doc:name="Update Job Status To Running" doc:id="4c679d49-172d-4b10-94d0-92c844817ad1" key="${batch.status.key}" objectStore="Batch_Error_Object_store">
			<os:value><![CDATA[#[transformations::common::setBatchStatusToRunning()]]]></os:value>
		</os:store>
		<batch:job jobName="batch-api-Batch_Job" doc:id="c9e54ee1-369a-4f36-a73f-0cc670689141" >
			<batch:process-records >
				<batch:step name="Transform_Data" doc:id="3198a0a9-1540-4c73-9b1f-73c63cd90996">
					<flow-ref doc:name="batch-api-data-transformation" doc:id="cfc5cd9c-0cc1-4676-b782-0cf727e27d7f" name="batch-api-data-transformation"/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<os:store doc:name="Update Job Status To complete" doc:id="bcd1a3e2-33c1-4f77-ab11-9575fd0f5915" key="${batch.status.key}" objectStore="Batch_Error_Object_store">
					<os:value ><![CDATA[#[transformations::common::setBatchStatusToComplete()]]]></os:value>
				</os:store>
				<logger level="INFO" doc:name="Log Batch Result" doc:id="2ea2686c-2b98-47d5-8003-865242695d8e" message="Total Time Taken #[dw::util::Timer::currentMilliseconds() - vars.startTime], Batch Result #[output application/json --- payload]" category="${api.logger.package}"/>
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="batch-api-data-transformation" doc:id="72cfb997-ad2f-4569-b1dc-8bf328bfdaf8" >
		<ee:transform doc:name="Data Transformation" doc:id="e4d49405-2839-4dfe-a49d-cfcef8f8dc9d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="transformations/data-transformation.dwl" variableName="batchRecord" />
			</ee:variables>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6f2bfdf3-ff98-4419-8cf6-1272efe87f2a" >
				<logger level="ERROR" doc:name="Log Error" doc:id="574d5db3-141e-4aff-9ea4-fbb97b4b3999" message="Error while transforming Data " category="${api.logger.package}"/>
				<os:store doc:name="Store" doc:id="5bf6f175-d771-4d4b-9716-6b677ce1fd53" key="#[vars.batchData.provinceStateName]" objectStore="Batch_Error_Object_store"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="batch-api-implementation-get-healthcheck"
		doc:id="2ab2ee4b-0a76-4dee-836b-6656206ce471">
		<ee:transform doc:name="Healthcheck response"
			doc:id="7363e54e-f531-4628-81b6-929091a23629">
			<ee:message>
				<ee:set-payload
					resource="transformations/getHealthcheckResponse.dwl" />
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
